*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/backgrond-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header{
    padding: 30px;
}

.topo{
    display: flex;
    gap: 30px;
    align-items: center;
}

.topo p{
    color: #000000;
    font-family: 'Red Rose', serif;
    font-size: 1.4rem;
    padding-left:  30px;
    font-weight: 700;
}


.texto{
    padding-top: 72px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    color: rgba(240, 248, 255, 0.39);
    font-family: 'Red Rose', serif;
    font-size: 1.5rem;
}

.conteudo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px 30px 59px 30px;
    flex-grow: 1;
}

.trailler{
    display: flex;
}

.play{
    position: absolute;
    margin: 37px 92px 37px 92px ;
}