*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/backgrond-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header{
    padding: 30px;
}

.topo{
    display: flex;
    gap: 30px;
    align-items: center;
}

.topo p{
    color: #000000;
    font-family: 'Red Rose', serif;
    font-size: 1.4rem;
    padding-left:  30px;
    font-weight: 700;
}


.texto{
    padding-top: 72px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    color: rgba(240, 248, 255, 0.39);
    font-family: 'Red Rose', serif;
    font-size: 1.5rem;
}

.conteudo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 360px 30px 0px 30px;
    flex-grow: 1;
}

.trailler{
    display: flex;
    margin-top: 100px;
}


.trailler a{
    position: absolute;
    margin: 37px 92px 37px 92px ;
}
.botao{
    display: none;
}


/* tablet */
@media (max-width:768px){

body{
    background-image: url(./img/tablet-background.png);
}

.conteudo-container{
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.logo img{
    width: 276px;
    height: 170px;
    margin-left: 473px;
}

.trailler img{
    width: 500px;
    height: 283px;
}

.trailler a{
    margin: 0px 0px 0px 0px;
}

.botao{
    display: none;
}
}

/* mobile */
@media(max-width:480px){
body{
    background-image: url(./img/backgrond-mobile.png);
}
.topo p{
    display: none;
}

.texto{
    padding: 0;
}
.texto p{
    font-size: 1.8rem;
}

.botao{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    margin-top: 80px;
}

.botao button{
    border: #115f19d3;
    width: 143px;
    height: 48px;
    border-radius: 20px;
    background-color: #115F19d3;
    font-family: 'Red Rose', serif;
    font-weight: 800;
    font-size: 1rem;
    color: #000000;
}

.logo img{
    margin: 0px 0px 0px 0px;
}

.trailler{
    display: none;
}
}
