*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

html{
    overflow: hidden;
}

body{
    position: relative;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/breakin_bad_desktop.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    z-index: -100;
    overflow: hidden;
}

header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.topo{
    width: 100vw;
}

.topo p{
    color: #000000;
    font-family: 'Red Rose', serif;
    font-size: 1.4rem;
    padding-left:  30px;
    font-weight: 700;
}


header i.fas{
    display: none;
    color: #ffffff;
    font-size: 35px;
}

header i.fa-bars{
    color: #000;
}

header i.fas:hover{
    cursor: pointer;
}
main{
    flex-grow: 1;
    display: flex;
}

header a{
    border-bottom: none;
    height: 48px;
}

header i.fa-bars{
    display: block;
}

header.menu i.fa-bars{
    display: none;
}

header.menu i.fa-bars + .fa-times{
    display: block;
}

header .overlay{
    display: block;
    position: absolute;
    background-color: #000;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(100%);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header .overlay a{
    display: block;
    font-size: 2rem;
    color: #fff;
}

header.menu i.fa-bars ~ .overlay{
    transform: translatex(0%);
}

main{
    z-index: -2;
}


.filme-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.descricao{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.descricao a{
    display: none;
}


.descricao p{
    color: rgba(240, 248, 255, 0.39);
    font-family: 'Red Rose', serif;
    font-size: 1.5rem;
}

.traillers{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items:end;
}

.trailler{
    display: flex;
}

.trailler .play{
    z-index: 999;
    position: absolute;
    margin: 37px 92px 37px 92px ;
}

/* tablet  */

@media (max-width:768px){

body{
    padding: 30px 0px 0px 3px;
    background-image: url(./img/breakin_bad_tablet.png);
}

header i.fas{
    padding-right: 20px;
}

.descricao p{
    color: rgba(240, 248, 255, 0.39);
    font-family: 'Red Rose', serif;
    font-size: 1.8rem;
}

.trailler .img-trailler{
    width: 500px;
    height: 278px;
}

.trailler .play{
    width: 298px;
    height: 208px;
    margin: 35px 101px 35px 101px ;
}

.traillers .logo{
    padding-left: 250px;
}

.traillers{
    padding-top: 100px;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

}

/* mobile */

@media(max-width:480px){
body{
    background-image: url(./img/breakin_bad_mobile.png);
}
header{
    justify-content: space-between;
    padding: 0px 24px 0 24px;
    align-items: center;
}

.topo{
    display: none;
}

header a{
    border-bottom: none;
    height: 48px;
}

header i.fa-bars{
    display: block;
}

header.menu i.fa-bars{
    display: none;
}

header.menu i.fa-bars + .fa-times{
    display: block;
}

header .overlay{
    display: block;
    position: absolute;
    background-color: #000;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(100%);
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header .overlay a{
    display: block;
    font-size: 2rem;
    color: #fff;
}

header.menu i.fa-bars ~ .overlay{
    transform: translatex(0%);
}

main{
    z-index: -2;
}

.filme-container{
    justify-content: end;
}

.descricao a{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 143px;
    height: 50px;
    background-color: #115F19;
    border: 10px solid #115F19;
    color: #000000;
    font-size: 1.5rem;
    border-radius: 50px;
}

.descricao{
    padding-bottom: 350px;
}

.button{
    margin-top: 60%;
}

.descricao p{
    color: rgba(240, 248, 255, 0.39);
    font-family: 'Red Rose', serif;
    font-size: 1.8rem;
}


.traillers img{
    width: 211px;
    height: 130px;
}

.traillers{
    height: 250px;
}

.traillers .logo{
    padding-left: 0px;
}

.trailler{
    display: none;
}
}